In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('Datasets/test.csv')
df2 = pd.read_csv('Datasets/h+a+i_updated.csv')

In [6]:
df1.head()

,Headlines,Summary,Companies,Sectors,Interest
0,Atos reaches deal with creditors on debt restr...,French technology company Atos reached an agr...,Atos,Information Technology,0
1,Saudi Aramco awards $25 billion in contracts f...,Saudi Aramco has awarded $25 billion in contra...,Saudi Aramco,Energy,0
2,Bank of Baroda gets Rs 1067.82 crore income ta...,Bank of Baroda received a tax demand of ₹1067....,Bank of Baroda,Banking,0
3,Air India Express union alleges unfair labour ...,"Air India Express’ cabin crew union, AIXEU, ha...",Air India Express,Airlines,0
4,"Punjab & Sind Bank plans to raise Rs 2,000 cro...","Punjab & Sind Bank plans to raise ₹2,000 crore...",Punjab & Sind Bank,Banking,1

In [7]:
df2.head()

,Headlines,Article,Interest,Company_Name,Sector
0,Coal India revises e-auction norms: Is there m...,Highlights Coal India announces plans to ease...,1,Coal India,Energy
1,D-Mart: Margin miss in Q1; valuations expensive,"Highlights Healthy revenue growth, but margin...",1,D-Mart,Retail
2,"TCS chief cautious of economic slowdown, but r...",Tata Consultancy Services Ltd (TCS) stays caut...,1,TCS,Information Technology
3,SBI raises lending rates by 5-10 bps across mo...,State Bank of India (SBI) has raised its bench...,1,State Bank of India,Financials
4,"Investors of TCS, HCL should tally their optim...",Shares of Tata Consultancy Services (TCS) and ...,0,TCS,Information Technology

In [9]:
df2.rename(columns={'Company_Name': 'Companies', 'Sector': 'Sectors'}, inplace=True)

In [10]:
df1.rename(columns={'Summary': 'Article'}, inplace=True)

In [11]:
df1.head()

,Headlines,Article,Companies,Sectors,Interest
0,Atos reaches deal with creditors on debt restr...,French technology company Atos reached an agr...,Atos,Information Technology,0
1,Saudi Aramco awards $25 billion in contracts f...,Saudi Aramco has awarded $25 billion in contra...,Saudi Aramco,Energy,0
2,Bank of Baroda gets Rs 1067.82 crore income ta...,Bank of Baroda received a tax demand of ₹1067....,Bank of Baroda,Banking,0
3,Air India Express union alleges unfair labour ...,"Air India Express’ cabin crew union, AIXEU, ha...",Air India Express,Airlines,0
4,"Punjab & Sind Bank plans to raise Rs 2,000 cro...","Punjab & Sind Bank plans to raise ₹2,000 crore...",Punjab & Sind Bank,Banking,1

In [12]:
df2.head()

,Headlines,Article,Interest,Companies,Sectors\t
0,Coal India revises e-auction norms: Is there m...,Highlights Coal India announces plans to ease...,1,Coal India,Energy
1,D-Mart: Margin miss in Q1; valuations expensive,"Highlights Healthy revenue growth, but margin...",1,D-Mart,Retail
2,"TCS chief cautious of economic slowdown, but r...",Tata Consultancy Services Ltd (TCS) stays caut...,1,TCS,Information Technology
3,SBI raises lending rates by 5-10 bps across mo...,State Bank of India (SBI) has raised its bench...,1,State Bank of India,Financials
4,"Investors of TCS, HCL should tally their optim...",Shares of Tata Consultancy Services (TCS) and ...,0,TCS,Information Technology

In [13]:
df2.rename(columns={'Sectors\t': 'Sectors'}, inplace=True)

In [14]:
df2.head()

,Headlines,Article,Interest,Companies,Sectors
0,Coal India revises e-auction norms: Is there m...,Highlights Coal India announces plans to ease...,1,Coal India,Energy
1,D-Mart: Margin miss in Q1; valuations expensive,"Highlights Healthy revenue growth, but margin...",1,D-Mart,Retail
2,"TCS chief cautious of economic slowdown, but r...",Tata Consultancy Services Ltd (TCS) stays caut...,1,TCS,Information Technology
3,SBI raises lending rates by 5-10 bps across mo...,State Bank of India (SBI) has raised its bench...,1,State Bank of India,Financials
4,"Investors of TCS, HCL should tally their optim...",Shares of Tata Consultancy Services (TCS) and ...,0,TCS,Information Technology

In [16]:
df2.columns

Index(['Headlines', 'Article', 'Interest', 'Companies', 'Sectors'], dtype='object')

In [18]:
df2 = df2.reindex(columns=['Headlines', 'Article', 'Companies', 'Sectors','Interest'])

In [19]:
df2.head()

,Headlines,Article,Companies,Sectors,Interest
0,Coal India revises e-auction norms: Is there m...,Highlights Coal India announces plans to ease...,Coal India,Energy,1
1,D-Mart: Margin miss in Q1; valuations expensive,"Highlights Healthy revenue growth, but margin...",D-Mart,Retail,1
2,"TCS chief cautious of economic slowdown, but r...",Tata Consultancy Services Ltd (TCS) stays caut...,TCS,Information Technology,1
3,SBI raises lending rates by 5-10 bps across mo...,State Bank of India (SBI) has raised its bench...,State Bank of India,Financials,1
4,"Investors of TCS, HCL should tally their optim...",Shares of Tata Consultancy Services (TCS) and ...,TCS,Information Technology,0

In [22]:
df2.to_csv('Datasets/train.csv', index=False)

In [23]:
df1.to_csv('Datasets/test.csv', index=False)